module.exports = "<ion-view view-title=购买> <ion-nav-buttons side=left> <button class=\"button button-clear\" ng-click=epjBack()> <i class=\"icon ion-ios-arrow-back\"></i> </button> </ion-nav-buttons> <ion-nav-buttons side=right> <button class=\"button button-clear\" ng-click=\"epjGo('/full/pay')\"> 提交订单 </button> </ion-nav-buttons> <ion-content> <div class=list> <label class=\"item item-input\"> <span class=data>收货姓名</span> <input type=text placeholder=请输入收货人姓名> </label> <label class=\"item item-input\"> <span class=data>收货地址</span> <input type=text placeholder=请输入收货地址> </label> </div> 收货人:xxxxxx<br/> 收货地址:xxxxx<br/> <br/> 直接购买 | 以旧换新<br/> <img height=100px width=100px src=\"" + require("../img/modal2.jpg") + "\"/> 加价镜片<br/> 1.67镜片 </ion-content> </ion-view>";


/*****************
 ** WEBPACK FOOTER
 ** ./templates/full-buy.html
 ** module id = 50
 ** module chunks = 0
 **/