module.exports = " <ion-tabs class=\"tabs-icon-top tabs-color-active-balanced\">  <epj-tab on-touch=selectTab(0) title=购物车 icon-off=\"background cart\" icon-on=\"background carton\" badge=getLenstNum() badge-style=badge-assertive href=#/ltab/chart> <ion-nav-view name=ltab-chart></ion-nav-view> </epj-tab>  <epj-tab on-touch=selectTab(0) title=产品 icon-off=\"background glass\" icon-on=\"background glasson\" href=#/ltab/product> <ion-nav-view name=ltab-product></ion-nav-view> </epj-tab>  <epj-tab title=我 icon-off=\"background my\" icon-on=\"background myon\" href=#/ltab/account> <ion-nav-view name=ltab-account></ion-nav-view> </epj-tab>  </ion-tabs>";


/*****************
 ** WEBPACK FOOTER
 ** ./lens/ltab.html
 ** module id = 38
 ** module chunks = 0
 **/